.dev-content {
    display: flex;
}

.left-panel {
    flex: 1;
}

.right-panel {
    flex: 2;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.create-player-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.create-player-input-text {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-player-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-player-form button:hover {
    background-color: #4cae4c;
}

.player-list {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.player-item {
    padding: 10px;
    border-bottom: 2px solid #eee;
}

.player-item.in-room {
    border: 2px solid #5c68b8;
}

.player-item.selected {
    background-color: #bfc7f8;
}

.player-name {
    font-size: 16px;
    font-weight: bold;
}

.player-token {
    font-size: 14px;
    color: #666;
}

.room-setup {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    min-height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.room-setup button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.host-to-create-room {
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.players-to-create-room {
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.block-highlight:hover {
    border: 5px solid #5cb85c;
    cursor: pointer;
}

.room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 房间间距 */
}

.room-card {
    padding: 15px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 5px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* 卡片宽度 */
}

.room-card.selected {
    border: 5px solid #5c68b8;
}

.room-url {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.room-players {
    margin-bottom: 15px;
}

.player-name {
    font-size: 16px;
    color: #666;
    padding: 2px 0;
}

.join-spectator-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-spectator-btn:hover {
    background-color: #45a049;
}