@using Client.Pages.Enums
@using Client.Pages.Extensions
@if (CurrentPlayer is not null)
{
    <div class="choice-role-area">
        <div class="choice-role-text"></div>
        <div class="choice-role-row">
            @foreach (var role in new[] { RoleEnum.OldMan, RoleEnum.Baby, RoleEnum.Dai, RoleEnum.Mei })
            {
                var selectedCss = CurrentPlayer.Role == role ? "selected" : string.Empty;
                <div class="choice-role-item @selectedCss" @onclick="async () => await OnSelectRole.InvokeAsync(role.ToString())">
                    <div class="picture @(role.ToLowerCaseName())"></div>
                </div>
            }
        </div>
    </div>
}