@page "/GamingPage"
@using Client.Pages.Gaming.Components

<div class="background">
    <GameMap></GameMap>

    <GameRound></GameRound>
    <PlayerRankList></PlayerRankList>
    <ChatBox></ChatBox>

    <Settings></Settings>
    <PlayerInfo></PlayerInfo>
    <Go></Go>
</div>