<dlv class="PlayerInfo">
    <div class="money">
        <span>@Player.Money</span>
    </div>
    <div class="TotalMoney">
        <span>@Player.GetTotalMoney</span>
    </div>
    <hr class="withBalls">
    <div class="collapseBtn">
        抵押清單
    </div>
    <div class="MortgageList">
        <ul>
            <li><span>A</span></li>
            <li><span>B</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
        </ul>
    </div>
</dlv>

<script>
    const collapseContainer = document.querySelector('.MortgageList')
    const collapseBtn = document.querySelector('.collapseBtn')

    if (collapseContainer && collapseBtn) {
        // 預設關閉
        collapseContainer.classList.add('collapseHide')

        // 點擊切換
        collapseBtn.addEventListener('click', () => {
            collapseContainer.classList.toggle('collapseHide')
        })
    }
</script>