
.PlayerRankList {
    position: absolute;
    width: calc(200 * var(--unit));
    height: calc(355 * var(--unit));
    top: calc(194 * var(--unit));
    left: 0;
}

.PlayerRankList .PlayerInfo {
    position: relative;
    width: calc(178 * var(--unit));
    height: fit-content;
    border-radius: calc(20 * var(--unit)); /* 方框圓角半徑 */
    border: calc(4 * var(--unit)) solid #008227; /* 方框邊框寬度和顏色 */
    background-color: #5B5B5B; /* 底色 */
    padding: 1rem;
    margin-bottom: 8px;
}

.PlayerRankList .PlayerInfo .Rank {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.PlayerRankList .PlayerInfo .Rank .Round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%; /* 圓形 */
    border: calc(1 * var(--unit)) solid white; /* 外框 */
    background-color: #D8C292; /* 底色 */
}

.PlayerRankList .PlayerInfo .Rank .Round .Number {
    color: #5B5B5B;
}

.PlayerRankList .PlayerInfo .Name {
    width: calc(40 * var(--unit));
    color: white;
    font-size: calc(20 * var(--unit));
    margin: 0;
}

.PlayerRankList .PlayerInfo .PlayerMoney {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.PlayerRankList .PlayerInfo .Icon {
    width: calc(60 * var(--unit));
    height: calc(50 * var(--unit));
    /*background-image: url('./images/roles/avatars/小美頭.svg');*/
    background-size: cover;
    background-position: center;
}

.PlayerRankList .PlayerInfo .Icon.baby {
    background-image: url('images/roles/avatars/寶寶頭.svg');
}

.PlayerRankList .PlayerInfo .Icon.oldman {
    background-image: url('images/roles/avatars/老人頭.svg');
}

.PlayerRankList .PlayerInfo .Icon.dai {
    background-image: url('images/roles/avatars/阿呆頭.svg');
}

.PlayerRankList .PlayerInfo .Icon.mei {
    background-image: url('images/roles/avatars/小美頭.svg');
}

.PlayerRankList .PlayerInfo .Money {
    width: calc(94 * var(--unit));
    color: white;
    font-size: calc(20 * var(--unit));
    margin: 0;
}

.PlayerRankList .PlayerInfo .Money::before {
    content: "";
    display: inline-block;
    width: calc(15 * var(--unit));
    height: calc(15 * var(--unit));
    margin-right: calc(4 * var(--unit));
    margin-bottom: calc(-3 * var(--unit));
    background-image: url('./images/gamepage/icon_mini_money.svg');
    background-size: cover;
    background-position: center;
}

.PlayerRankList .PlayerInfo .TotalMoney {
    width: calc(94 * var(--unit));
    color: white;
    font-size: calc(20 * var(--unit));
    margin: 0;
}

.PlayerRankList .PlayerInfo .TotalMoney::before {
    content: "";
    display: inline-block;
    width: calc(15 * var(--unit));
    height: calc(15 * var(--unit));
    margin-right: calc(4 * var(--unit));
    margin-bottom: calc(-3 * var(--unit));
    background-image: url('./images/gamepage/icon_mini_home.svg');
    background-size: cover;
    background-position: center;
}

@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

/**
 * To animate the gradient, we set the custom property to 1 full
 * rotation. The animation starts at the default value of `0deg`.
 */
@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

.current-player {
    /* add the animation, but pause it by default */
    animation: spin 2.5s infinite linear running;

    background: linear-gradient(
            to bottom,
            #5B5B5B,
            #5B5B5B
    ) padding-box, /* ends at inner border edges */ conic-gradient(
            from var(--bg-angle) in oklch longer hue,
            oklch(0.85 0.37 0) 0 0
    ) border-box; /* extends to outer border edges */

    /* a clear border lets the background gradient shine through */
    border: calc(4 * var(--unit)) solid transparent !important;
}
