@page "/GamingPage"
@using Client.Pages.Gaming.Components
@using Client.Pages.Gaming.Entities

<div class="background">
    <CascadingValue Value="this">
        <MapPanel 
            Players="Players"/>

        <GameRound></GameRound>
        <PlayerRankList PlayerList="Players" CurrentPlayerId="@CurrentPlayerId"/>
        <ChatBox></ChatBox>

        <Settings></Settings>
        <PlayerInfo></PlayerInfo>
        @if (IsYourTurn)
        {
            <Go OnRolledDice="OnRolledDice"/>
        }

        <DiceBox @ref="DiceBox"/>
    </CascadingValue>
</div>