@page "/GamingPage"
@using System.Collections.Immutable
@using Client.Pages.Gaming.Components
@using Client.Pages.Gaming.Entities

<div class="background">
    <CascadingValue Value="this">
        <MapPanel 
            Players="Players"/>

        <GameRound></GameRound>
        <PlayerRankList></PlayerRankList>
        <ChatBox></ChatBox>

        <Settings></Settings>
        <PlayerInfo></PlayerInfo>
        <Go OnRolledDice="OnRolledDice"></Go>

        <DiceBox @ref="DiceBox" />
    </CascadingValue>
</div>