@page "/GamingPage"
@using Client.Pages.Gaming.Components

<div class="background">
    <CascadingValue Value="this">
    	<MapPanel />
        <GameRound></GameRound>
        <PlayerRankList></PlayerRankList>
        <ChatBox></ChatBox>

        <Settings></Settings>
        <PlayerInfo></PlayerInfo>
        <Go OnRolledDice="OnRolledDice"></Go>

        <DiceBox @ref="DiceBox" />
    </CascadingValue>
</div>