@page "/ready-room/{roomId}"
@using Client.Pages.Ready.Components
<div class="background">
    <Popup @ref="Popup" />
    <CascadingValue Value="this">
        <ColorChoicePanel/>
        <RoleChoicePanel/>
        <ReadyButton/>
    </CascadingValue>
</div>