<div class="GameRound">
    <dlv class="Round_Info">
        <div class="TimeBox">
            <div class="Alarm_Clock"></div>
            <span class="Time_Str">10:00</span>
        </div>
        <div class="RoundBox">
            <span class="Round_Str Start">第</span><span class="Round_Number">0</span><span class="Round_Str End">回合</span>
        </div>
    </dlv>
</div>