<div class="PlayerRankList">
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round"></div>
                <span class="Number">1</span>
            </div>
            <div class="Name">
                <span>Jason1</span>
            </div>
            <div class="Money">1,0000</div>
            <div class="TotalMoney">9,000</div>
            <div class="Icon oldman"></div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round"></div>
                <span class="Number">2</span>
            </div>
            <div class="Name">
                <span>Jason2</span>
            </div>
            <div class="Money">1,0000</div>
            <div class="TotalMoney">9,000</div>
            <div class="Icon baby"></div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round"></div>
                <span class="Number">3</span>
            </div>
            <div class="Name">
                <span>Jason3</span>
            </div>
            <div class="Money">1,0000</div>
            <div class="TotalMoney">9,000</div>
            <div class="Icon dai"></div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round"></div>
                <span class="Number">4</span>
            </div>
            <div class="Name">
                <span>Jason4</span>
            </div>
            <div class="Money">1,0000</div>
            <div class="TotalMoney">9,000</div>
            <div class="Icon mei"></div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
</div>