<div class="PlayerRankList">
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round">
                    <span class="Number">1</span>
                </div>
                <p class="Name">
                    Jason1
                </p>
            </div>
            <div class="PlayerMoney">
                <div class="Icon oldman"></div>
                <div class="MoneyBox">
                    <p class="Money">1,0000</p>
                    <p class="TotalMoney">9,000</p>
                </div>
            </div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round">
                    <span class="Number">2</span>
                </div>
                <p class="Name">
                    Jason2
                </p>
            </div>
            <div class="PlayerMoney">
                <div class="Icon baby"></div>
                <div class="MoneyBox">
                    <p class="Money">1,0000</p>
                    <p class="TotalMoney">9,000</p>
                </div>
            </div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round">
                    <span class="Number">3</span>
                </div>
                <p class="Name">
                    <span>Jason3</span>
                </p>
            </div>
            <div class="PlayerMoney">            
                <div class="Icon dai"></div>
                <div class="MoneyBox">                
                    <p class="Money">1,0000</p>
                    <p class="TotalMoney">9,000</p>
                </div>
            </div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
    <div class="Player">
        <div class="PlayerInfo">
            <div class="Rank">
                <div class="Round">
                    <span class="Number">4</span>
                </div>
                <p class="Name">
                    <span>Jason4</span>
                </p>
            </div>
            <div class="PlayerMoney">
                <div class="Icon mei"></div>
                <div class="MoneyBox">                
                    <p class="Money">1,0000</p>
                    <p class="TotalMoney">9,000</p>
                </div>
            </div>
            <div class="Status"></div>
        </div>
        <div class="Host_Flag"></div>
    </div>
</div>