<dlv class="PlayerInfo">
    <div class="money">
        <div class="icon"></div>
        <span>9,000</span>
    </div>
    <div class="TotalMoney">9,000</div>
    <hr>
    <div class="MortgageList">
        <span>
            抵押清單
        </span>
        <ul>
            <li><span>A</span></li>
            <li><span>B</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
            <li><span>C</span></li>
        </ul>
    </div>
</dlv>